@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Category>;

<h1>Categories</h1>


@foreach(Category category in Model)
{
  <p>@Html.ActionLink($"{category.Name}", "Details", new { id = category.CategoryId })</p>
}

<p>@Html.ActionLink("Add new category", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>