@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model IEnumerable<ToDoList.Models.Category>

<h1>Categories for @User.Identity.Name</h1>

@if (Model.Any())
{
  @foreach(Category category in Model)
  {
    <p>@Html.ActionLink($"{category.Name}", "Details", new { id = category.CategoryId })</p>
  }
}
else
{
  <p>No categories have been added yet.</p>
}

<p>@Html.ActionLink("Add new category", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>